* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --white: #eeeeee;
    --smartphone: #2f4b38;
    --tablet: #311e22;
}

header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #31363e;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 35px;
}

header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav a {
    color: var(--white);
    text-decoration: underline;
}




.subtitle {
    padding: 80px;
    background-color: #4a7777;
}

.subtitle h2 {
    float: right;
    padding-top: 25px;
    margin-right: 35px;
    font-size: 35px;
    color: var(--white);
}

section {
    display: flex;
    margin: 20px 0 0 0;
    /* padding: 15px 0; */
}

section h2 {
    border-right: #31363e solid 2px;
    flex: 0 0 20%;
    text-align: right;
    padding-right: 10px;
}

section div {
    flex: 0 0 75%;
}

section p {
    margin: 20px 10px;
    text-align: center;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-app {
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    background-size: contain;
    margin: 8px;
}


.pGen {
    min-height: 450px;
    flex-basis: 100%;
    background-image: url('../images/website-screenshot.png');
}

.new {
    background-image: url('../images/website-screenshot.png');
}


/*


.work {
    float: left;
    width: 30%;
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    border-right: 5px solid #445577;
    vertical-align: top;
}

.work ul {
    float: right;
    text-align: right;
    font-weight: bold;
    list-style-type: none;
    padding-top: 30px;
}

.work ul li {
    font-size: 45px;
}

.first-app-container {
    max-width: 60%
}

.first-app {
    float: right;
    max-width: 60%;
    display: inline-block;
    position: absolute;
    text-align: center;
    border: 5px solid #445577;
    align-items: right;
    margin-left: 10px;
}

.first-app img {
    max-width: 60%;
    max-height: 1000px;
}

.first-app-title {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 30px;
}

/* .other-apps-top {
    --- commented out below
    max-width: 30%;
    align-items:flex-start;
    position: relative;
    text-align: center;
    border: 5px solid #445577;
    align-items: right;
    margin-left: 10px;
    flex-direction: row;
    display: inline-block;
    width: 100%
    --- commented out above
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid #445577;

    
}
.other-apps-bottom {
    max-width: 30%;
    align-items:flex-start;
    text-align: center;
    border: 5px solid #445577;
    align-items: right;
    margin-left: 10px;
    flex-direction: row;
    display: inline-block;
    width: 100%
}

.other-apps img {
    max-width: 60%;
    max-height: 1000px;
}

.app-title {
    position: absolute;
    bottom: 100px;
    left: 16px;
    font-size: 30px
}

*/
/*.contact-me {
    padding-bottom: 60px;
}

.contact-me-title {
    float: left;
    width: 30%;
    display: inline-block;
    margin-top: 10px;
    padding-right: 15px;
    padding-top: 10px;
    border-right: 5px solid #445577;
}

.contact-me-title ul {
    float: right;
    text-align: right;
    font-weight: bold;
    list-style-type: none;
    padding-top: 30px;
}

.contact-me-title ul li {
    font-size: 45px;
}

.contact-info {
    width: 60%;
    display: inline-block;
    margin-top: 30px;
}

.contact-info ul li {
    padding: 10px;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    display: inline-block;
    margin-left: 35px;
} */

/* Display for tablets and smartphones below */

/* Tablets; inline elements are still next to each other */
@media screen and (max-width: 992px) {
    .no-class-name-yet {
        width: 50%;
    }

    /*header color for smartphones: */
    header {
        background: var(--tablet);
    }
}

/* Smartphones; each inline element starts at a new line */
@media screen and (max-width: 768px) {
    .no-class-name-yet {
        width: 100%;
    }

    /* header color for tablets: */
    header {
        background-color: var(--smartphone);
    }
}